{% load user_tags %}

<aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
        <a href="{% url 'home' %}">MAESTRO.</a>
    </div>
    <!-- sidebar nav -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header">
        </li>
        <li class="sidebar-item">
            {% if user.is_authenticated %}
            <a href= "{% url 'dashboard' %}" class="sidebar-link">
                <i class="lni lni-user"></i>

                <span>User</span>
            </a>
        </li>

        <li class="sidebar-item">
        {%  if user|is_student %}
            <a href="{% url 'find_classes' %}" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>Find classes</span>
            </a>
            {% endif %}
            <a href="{% url 'about' %}" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>About</span>
            </a>
        </li>
        <li class="sidebar-item">
            <li class="sidebar-item">
                <a href="{% url 'notifications' %}" class="sidebar-link">
                    <i class="lni lni-popup"></i>
                    <span>Notifications</span>
                </a>
            </li>
        </li>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">


        {% else %}
            <li>
                <li class="sidebar-item">
                    <a href="{% url 'home' %}" class="sidebar-link">About</a>
                </li>
                <li class="sidebar-item">

                    <a href="{% url 'login' %}" class="sidebar-link">Login</a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'register' %}" class="sidebar-link">Register</a>
                </li>
            </ul>
            </li>
            {% endif %}
    </ul>
    <!-- end of sidebar nav -->

    {% if user.is_authenticated %}

    <div class="sidebar-footer">
        <a href="{% url 'logout' %}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Log out</span>
        </a>
    </div>
    {% endif %}
</aside>