{% load user_tags %}

<aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
        <a href="{% url 'home' %}">MAESTRO.</a>
    </div>

    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header"></li>

        {% if user.is_authenticated %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard' %}" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'find_classes' %}" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>Find Classes</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'notifications' %}" class="sidebar-link">
                    <i class="lni lni-popup"></i>
                    <span>Notifications</span>
                </a>
            </li>

        {% else %}
            <li class="sidebar-item">
                <a href="{% url 'login' %}" class="sidebar-link">
                    <i class="fa-solid fa-right-to-bracket"></i>  <!-- Login Icon -->
                    <span>Login</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'register' %}" class="sidebar-link">
                    <i class="fa-solid fa-user-plus"></i>  <!-- Register Icon -->
                    <span>Register</span>
                </a>
            </li>
        {% endif %}

        <li class="sidebar-item">
            <a href="{% url 'about' %}" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>About</span>
            </a>
        </li>

        {% if user.is_authenticated %}
            <li class="sidebar-item logout-item">
                <a href="{% url 'logout' %}" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Log Out</span>
                </a>
            </li>
        {% endif %}
    </ul>
</aside>
