{% extends 'components/layouts/base.html' %}

{% block title_block %} Edit and Create {% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
    <h4>{% if maestro_lesson %} Edit Lesson {% else %} Create a new Lesson {% endif %}</h4>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            {% if maestro_lesson %} Update Lesson {% else %} Create Lesson {% endif %}
        </button>
    </form>
        </div>
    </div>
</div>
{% endblock %}
