{% extends 'components/layouts/base.html' %}
{% load user_tags %}

{% block content %}
<div class="container mt-4">
    <div class="card user-card">
        <div class="card-body">
            <h4>User Details</h4>
            <p><strong>Role:</strong> {{ user.groups.all|join:", " }}</p>
            <p><strong>Nickname:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Date of Birth:</strong> {{ user.date_of_birth|default:"N/A" }}</p>
            <p><strong>Date Joined:</strong> {{ user.date_joined|default:"N/A" }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Balance:</strong> {{ user.balance }} £</p>
        </div>
    </div>

    Instruments I play
    {% for instrument in user.instruments.all %}
        <p>{{ instrument }}</p>
    {% endfor %}

    Classes I have
    {% for class in user.classes.all %}
        <p>{{ class }}</p>
    {% endfor %}

    Assignments due
    {% for assignment in user.assignments.all %}
        Assignment <p>{{ assignment.date_due }}</p>
        Related Lesson <p>{{ assignment.lesson }}</p>
        Related Class<p>{{ assignment.lesson.associated_class }}</p>
    {% endfor %}

    <a href="{% url 'update_user_profile' %}" class="btn btn-primary">Edit Details</a>
</div>

{% if user|is_admin and user.is_authenticated %}
    <a href="{% url 'create_class' %}" class="btn btn-secondary">Create a class</a>
{% endif %}

{% endblock %}
