{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/removeErrors.js' %}"></script>
</head>
<body>

    <div class="container">
        <div class="circle">
            <span>Maestro.</span>
        </div>
        <div class="form-container">
            <div class="tabs">
                <a href="{% url 'login' %}" class="tab active">Sign in</a> 
                <a href="{% url 'register' %}" class="tab">Sign up</a>
            </div>
            <form method="POST">
                {% csrf_token %}


                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" id="id_username">
                </div>

                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password">
                    <a href="#" class="forgot-password">Forgot password?</a>
                </div>

                <button type="submit" class="enter-btn">Sign in</button>
                <div class="google-login">
                    <a href="{% provider_login_url 'google' %}" class="google-btn">
                        <span>Sign in with Google</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
