{% extends 'components/layouts/base.html' %}


{% block content %}

<div class="col-md-4">
    <div class="card shadow p-4 h-100">
        <h5>🔔 Notifications</h5>
        <ul id="notificationList" class="list-group">
            {% for notification in user.notifications.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ notification.message }}</span>
                    <button class="btn btn-light btn-sm" onclick="removeNotification(this)">❌</button>
                </li>
            {% empty %}
                <li class="list-group-item text-muted">No new notifications.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function removeNotification(button) {
        button.parentElement.remove(); 
    }
</script>


{% endblock %}